
#survey-calendar {
    padding-top: 30px;
    padding-left: 30px;
}
    .schedule {
        height: 800px;
        width: 100%;
        margin: 0 auto;
    }

.headerbar {
    background-color: #eceaea;
}


.content .odk-caption img {
    margin: 0;
    max-width: 455px;
}

.content .odk-caption small {
    display: block;
    padding: 0px 10px;
    background-color: #404040;
    color: #fff;
    width: 100%;
    max-width: 455px;
    line-height: 1.25;
}

.content .odk-caption small {
    padding: 6px 10px;
}



/***** NAV MENU *****/
.content .mobiletix {
    background-color: #000000;
    padding-bottom: 0;
}
    .content .mobiletix .contentcontainer {
        padding: 0;
    }

.content ul.mobiletix-nav {
    text-align: center;
}
    .content ul.mobiletix-nav {
        padding-top: 1em;
        padding-bottom: 1em;
    }
        .content ul.mobiletix-nav li {
            list-style: none;
            display: inline-block;
            padding: 0;
        }
            .content ul.mobiletix-nav li a {
                color: #fff;
                border: none;
                padding: .5em 1em;
                display: block;
                font-family: Hind, Helvetica, Arial, sans-serif;
                -moz-border-radius: 5px;
                -webkit-border-radius: 5px;
                border-radius: 5px;
            }
                .content ul.mobiletix-nav li a:hover {
                    background-color: #fff;
                    color: #333;
                }
